<!DOCTYPE html>
<html>
<head>
  <title>City Profile</title>
  <link rel="stylesheet" href="/css/styles.css" >
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="/js/scripts.js" charset="utf-8"></script>
</head>
<body>
<h1>CITY INFORMATION LANDING</h1>

<h2>Twitter Data</h2>
<p>Will be populated below if refresh=true</p>

  <h3>City Trends</h3>
  <% for(var i=0; i < cityTrends.length; i++){ %>
    <p><%= cityTrends[i].name %></p>
  <% } %>

  <h3>Global Trends</h3>
  <% for(var i=0; i < globalTrends.length; i++){ %>
    <p><%= globalTrends[i].name %></p>
  <% } %>

<hr>
<p>
  <a href="/">back to index page</a>
</p>
</body>
</html>
