<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<h1>CITY INFORMATION LANDING</h1>

<h2>Twitter Data</h2>
<p>Will be populated below if refresh=true</p>

  <h3>City Trends</h3>
  <% for(var i=0; i < cityTrends.length; i++){ %>
    <p><%= cityTrends[i].name %></p>
  <% } %>

  <h3>Global Trends</h3>
  <% for(var i=0; i < globalTrends.length; i++){ %>
    <p><%= globalTrends[i].name %></p>
  <% } %>

</body>
</html>