<!DOCTYPE html>
<html>
<head>
  <title>FeelTrip</title>
  <link rel="stylesheet" href="/css/styles.css" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="/js/scripts.js" charset="utf-8"></script>
</head>
<body>

  <div class="page-wrapper">
    <div class="menu-box"><div class="city"><a href="/city/london">LONDON</a></div></div>
    <div class="menu-box"><div class="city"><a href="/city/newyork">NEW YORK</a></div></div>
    <div class="menu-box"><div class="city"><a href="/city/hongkong">HONG KONG</a></div></div>
    <div class="menu-box"><div class="city"><a href="/city/austin">AUSTIN</a></div></div>
    <div class="menu-box"><div class="city"><a href="/city/sydney">SYDNEY</a></div></div>
    <div class="menu-box"><div class="city"><a href="/city/neworleans">NEW ORLEANS</a></div></div>
    <div class="menu-box"><div class="city"><a href="/city/telaviv">TEL AVIV</a></div></div>
    <div class="menu-box"><div class="city"><a href="/city/sanfrancisco">SAN FRANCISCO</a></div></div>
    <div class="menu-box"><div class="city"><a href="/city/berlin">BERLIN</a></div></div>
  </div>


</body>
</html>
