<!DOCTYPE html>
<html>
<head>
  <title>FeelTrip</title>
  <link rel="stylesheet" href="/css/styles.css" >
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="/js/scripts.js" charset="utf-8"></script>
</head>
<body>
  <h1>Hello World!</h1>
</body>
</html>