<!DOCTYPE html>
<html>
<head>
  <title>FeelTrip</title>
  <link rel="stylesheet" href="/css/styles.css" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="/js/scripts.js" charset="utf-8"></script>
</head>
<body>

  <div class="page-wrapper">
    <div class="menu-box"><div class="place"><a href="/place/london" class="link link-hover"><span data-letters-l="Lon" data-letters-r="don">London</span></a></div></div>

    <div class="menu-box"><div class="place"><a href="/place/new-york" class="link link-hover"><span data-letters-l="New" data-letters-r="York">New York</span></a></div></div>
    
    <div class="menu-box"><div class="place"><a href="/place/hong-kong" class="link link-hover"><span data-letters-l="Hong" data-letters-r="Kong">Hong Kong</span></a></div></div>

    <div class="menu-box"><div class="place"><a href="/place/austin" class="link link-hover"><span data-letters-l="Aus" data-letters-r="tin">Austin</span></a></div></div>
    <div class="menu-box"><div class="place"><a href="/place/sydney" class="link link-hover"><span data-letters-l="Syd" data-letters-r="ney">Sydney</span></a></div></div>
    <div class="menu-box"><div class="place"><a href="/place/new-orleans" class="link link-hover"><span data-letters-l="New" data-letters-r="Orleans">New Orleans</span></a></div></div>
    <div class="menu-box"><div class="place"><a href="/place/tel-aviv" class="link link-hover"><span data-letters-l="Tel" data-letters-r="Aviv">Tel Aviv</span></a></div></div>
    <div class="menu-box"><div class="place"><a href="/place/san-francisco" class="link link-hover"><span data-letters-l="San" data-letters-r="Francisco">San Francisco</span></a></div></div>
    <div class="menu-box"><div class="place"><a href="/place/berlin" class="link link-hover"><span data-letters-l="Ber" data-letters-r="lin">Berlin</span></a>
</a></div></div>
  </div>


</body>
</html>
