<!DOCTYPE html>
<html>
<head>
  <title>FeelTrip</title>
  <link rel="stylesheet" href="/css/landing.css" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="/js/scripts.js" charset="utf-8"></script>
</head>
<body>
<div class="page-wrapper">
  <div class="menu-box"><div class="city">LONDON</div></div>
  <div class="menu-box"><div class="city">NEW YORK</div></div>
  <div class="menu-box"><div class="city">HONG KONG</div></div>
  <div class="menu-box"><div class="city">AUSTIN</div></div>
  <div class="menu-box"><div class="city">SYDNEY</div></div>
  <div class="menu-box"><div class="city">NEW ORLEANS</div></div>
  <div class="menu-box"><div class="city">TEL AVIV</div></div>
  <div class="menu-box"><div class="city">SAN FRANCISCO</div></div>
  <div class="menu-box"><div class="city">BERLIN</div></div>
</div>


</body>
</html>
