<!DOCTYPE html>
<html>
<head>
  <title>FeelTrip</title>
  <link rel="stylesheet" href="/css/styles.css" >
  <link rel="stylesheet" href="/css/main.css" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.1/js.cookie.min.js" charset="utf-8"></script>
  <script src="/js/scripts.js" charset="utf-8"></script>
  <script src="/js/main.js" charset="utf-8"></script>
</head>
<body>

  <div class="page-wrapper">
    <div class="menu-box"><a href="/place/london"><div class="place hidden"><div class="bg"></div><div class="link linkover"><span data-letters-l="Lon" data-letters-r="don">London</span></div></div></a></div>

    <div class="menu-box"><a href="/place/new-york"><div class="place hidden"><div class="bg"></div><div class="link linkover"><span data-letters-l="New" data-letters-r="York">New York</span></div></div></a></div>
    
    <div class="menu-box"><a href="/place/singapore"><div class="place hidden"><div class="bg"></div><div class="link linkover"><span data-letters-l="Singa" data-letters-r="pore">Singapore</span></div></div></a></div>

    <div class="menu-box"><a href="/place/austin"><div class="place hidden"><div class="bg"></div><div class="link linkover"><span data-letters-l="Aus" data-letters-r="tin">Austin</span></div></div></a></div>
    <div class="menu-box"><a href="/place/sydney"><div class="place hidden"><div class="bg"></div><div class="link linkover"><span data-letters-l="Syd" data-letters-r="ney">Sydney</span></div></div></a></div>
    <div class="menu-box"><a href="/place/new-orleans"><div class="place hidden"><div class="bg"></div><div class="link linkover"><span data-letters-l="New" data-letters-r="Orleans">New Orleans</span></div></div></a></div>
    <div class="menu-box"><a href="/place/tel-aviv"><div class="place hidden"><div class="bg"></div><div class="link linkover"><span data-letters-l="Tel" data-letters-r="Aviv">Tel Aviv</span></div></div></a></div>
    <div class="menu-box"><a href="/place/san-francisco"><div class="place hidden"><div class="bg"></div><div class="link linkover"><span data-letters-l="San" data-letters-r="Francisco">San Francisco</span></div></div></a></div>
    <div class="menu-box"><a href="/place/berlin"><div class="place hidden"><div class="bg"></div><div class="link linkover"><span data-letters-l="Ber" data-letters-r="lin">Berlin</span></div></div></a></div>
  </div>


</body>
</html>
