@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Sacramento);

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html, body {
  padding: 0;
  margin: 0;
  background: rgb(135,135,135);
  text-align: center;
  font-size: 1.1rem;
  color: rgb(195,195,195);
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  overflow: auto;
}

nav#main-menu {
  font-size: 1.35rem;
  position: fixed;
  top: 3.5%;
  right: -208px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.ui.container {
  width: 85% !important;
}

ul#playlists{
  padding: 0;
}

.ui.left.aligned.vertical.segment{
  padding-top: 0;
}
nav#main-menu.open {
  right: 3.5%;
}

nav#sub-nav {
  position: fixed;
  top: 11%;
  right: 4%;
}

nav#sub-nav span{
  font: 1.2rem 'Open Sans Condensed';
}

.mint {
  color: rgb(186,229,214);
}

.dark-mint {
  color: rgb(130,208,181);
}
.page-wrapper {
  background-color: rgba(0,0,0,0.7);
}

.section-header{
  font: 3rem 'Sacramento';
  line-height: 1;
  margin-bottom: 10px;
}

.snapshot-title{
  margin-top: 0;
}


#place {
  font: 3.25rem 'Playfair Display';
  margin: 20px auto 0;
  line-height: 1.1;
}

#subtitle {
  font: 1.1rem 'Open Sans Condensed';
}

li {
  list-style-type: none;
}

.snapshot-title {
  font: 1rem 'Open Sans Condensed';
  font-style: italic;
}

.snapshot, .weather-wrapper, .spotify-wrapper {
  /*background-color: rgba(130,208,181,0.2);*/
  position: relative;
  background-color: rgba(255,255,255,0.2);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 0.5em;
}

.spotify-wrapper{
  padding: 1px 20px;
}

i.circular.dark-mint.remove.icon{
  position: absolute;
  right: 2%;
  margin-top: -10px;
}

.message {
  font: 1rem 'Playfair Display';
}
a {
  color: white;
}

a.hashtag, a.screen-name {
  font-weight: bold;
  font-size: 1.22rem;
  letter-spacing: 1.8px;
  text-shadow: -1px 1px 1px black;
}

a.hashtag:hover, a.screen-name:hover {
  color: rgb(104,166,144);
}

#tweets-refresh {
  font: 1rem 'Lora';
}

#saved-trends {
  padding-top: 0;
}

.tweet {
  border-bottom: 1px solid rgba(255,255,255,0.2);
  margin-bottom: 15px;
  transition: all 0.5s ease;
}
.tweet-text {
  font: 1.15rem 'Playfair Display';
  padding: 0;
  margin: 0;
}

span.screen-name, span.posted-at, span {
  font: 0.8rem 'Montserrat';
  /*padding: 5px 0 15px;*/
}
p.info {
  padding: 5px 0 15px;
}

a.name {
  font-size: 0.85rem;
}

i.circular.dark-mint.icon {
  background-color: rgb(130,208,181) !important;
  color: black;
  margin: 0 auto;
}
i.circular.dark-mint.icon:hover {
  cursor: pointer;
  background-color: rgb(104,166,144) !important;

}

i.circular.dark-gray.icon {
  background-color: rgb(255,255,255) !important;
  margin: 0 auto;
}

.hidden {
  display: none !important;
}

#hamburger-button {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 45px;
  margin-right: 45px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#hamburger-button:hover {
  cursor: pointer;
}

#hamburger-button > span {
  margin-bottom: 5px;
  height: 5px;
  width: 35px;
  background-color: rgba(104,166,144,1);
  display: block;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#hamburger-button.open {
  margin-right: -3px;
}


#hamburger-button.open span:nth-child(1) {
  -webkit-transform: translateY(11px) rotate(45deg);
  -moz-transform: translateY(11px) rotate(45deg);
  -ms-transform: translateY(11px) rotate(45deg);
  -o-transform: translateY(11px) rotate(45deg);
  transform: translateY(11px) rotate(45deg);
  background-color: rgba(255,255,255,0.7); 
}

#hamburger-button.open span:nth-child(2) {
  -webkit-transform: rotateY(90deg);
  -moz-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  -o-transform: rotateY(90deg);
  transform: rotateY(90deg);
}

#hamburger-button.open span:nth-child(3) {
  -webkit-transform: translateY(-9px) rotate(-45deg);
  -moz-transform: translateY(-9px) rotate(-45deg);
  -ms-transform: translateY(-9px) rotate(-45deg);
  -o-transform: translateY(-9px) rotate(-45deg);
  transform: translateY(-9px) rotate(-45deg);
  background-color: rgba(255,255,255,0.7);          
}

iframe {
  position: relative;
  height: 300px;
  margin-bottom: 20px;
}



@media all and (max-width:630px) {
  i.circular.dark-mint.icon {
  margin: 2px;
  }
  nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  nav#sub-nav {
  position: fixed;
  top: 0%;
  right: 4%;
  }
}