@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Sacramento);

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html, body {
  padding: 0;
  margin: 0;
  background: rgb(135,135,135);
  text-align: center;
  font-size: 1.1rem;
  color: rgb(195,195,195);
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: auto;
}

nav {
  font-size: 1.35rem;
  position: fixed;
  top: 3.5%;
  right: 3%;
}

.mint {
  color: rgb(186,229,214);
}

.dark-mint {
  color: rgb(130,208,181);
}
.page-wrapper {
  background-color: rgba(0,0,0,0.7);
}

.section-header{
  font: 3rem 'Sacramento';
  line-height: 1;
  margin-bottom: 10px;
}
#place{
  font: 3.25rem 'Playfair Display';
  margin: 20px auto 0;
  line-height: 1.1;
}

#subtitle {
  font: 1.1rem 'Open Sans Condensed';
}

a {
  color: white;
}

a.hashtag, a.screen-name {
  font-weight: bold;
  font-size: 1.22rem;
  letter-spacing: 1.8px;
  text-shadow: -1px 1px 1px black;
}

a.hashtag:hover, a.screen-name:hover {
  color: rgb(104,166,144);
}

#tweets-refresh {
  font: 1rem 'Lora';
}

.tweet {
  border-bottom: 1px solid rgba(255,255,255,0.2);
  margin-bottom: 15px;
  transition: all 0.5s ease;
}
.tweet-text {
  font: 1.15rem 'Playfair Display';
  padding: 0;
  margin: 0;
}

span.screen-name, span.posted-at, span {
  font: 0.8rem 'Montserrat';
  /*padding: 5px 0 15px;*/
}
p.info {
  padding: 5px 0 15px;
}

a.screen-name {
  font-size: 0.85rem;
}

i.circular.dark-mint.icon {
  background-color: rgb(130,208,181) !important;
  color: black;
}
i.circular.dark-mint.icon:hover {
  cursor: pointer;
  background-color: rgb(104,166,144) !important;
}

i.circular.dark-gray.icon {
  background-color: rgb(255,255,255) !important;
}

.hidden {
  display: none !important;
}


@media all and (max-width:630px) {
  i.circular.dark-mint.icon {
  margin: 2px;
}
  nav{
    display: flex;
    flex-direction: column;
  }
