@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css);


html {
  background: lightblue;
}

.weather-wrapper {
  max-width: 480px;
  margin: auto;
}

#weather-panel {
  /*background: rgba(186,229,214,0.2);*/
  padding: 5px;
}

#weather-icon {
  font-size: 5em;
}

#temperature {
  font-size: 2em;
}
