@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/1.3.2/css/weather-icons.min.css);


html {
  background: lightblue;
}

.weather-wrapper {
  max-width: 480px;
  margin: auto;
}

#weather-panel {
  /*background: rgba(186,229,214,0.2);*/
  padding: 5px;
}
